.nav-link{
  font-family: 'Ubuntu Mono', monospace;

  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;


  color:#11052C;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1.3rem;
}

.nav-link:hover{

  color: #8E2657;

}


.backcolor{
  background-color: #D9ECF2;
}



img{
  margin-left: 2rem;
}

.navbar-toggler{
  background: #DADDFC;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.navbar-toggler span{
  display: block;
  width: 20px;

  margin: 3px;
  border:1px solid black;
}

.navbar-toggler:hover{
  background: white;
}
